# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\TechCare\Desktop\Module_4\Thuc_hanh\Ung_dung_xem_gio_hien_tai_cac_thanh_pho\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
