<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  py-4" id="navbar" th:fragment="nav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="/images/blog/Blog_logo1.png" height="100px" width="100px" id="logo_1">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="service.html">Blog</a></li>
                    </ul>

                    <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                        <a href="create" class="btn btn-solid-border btn-round-full">Create Blog</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section class="section blog-wrap bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-5" th:each="blog : ${blogs}">
                    <div class="blog-item">
                        <img th:src="'images/blog/'+${blog.imageUrl}" alt="" class="img-fluid rounded size_blog">

                        <div class="blog-item-content bg-white p-5">
                            <div class="blog-item-meta bg-gray py-1 px-2">
                                <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i><a href="#">Edit</a></span>
                                <span class="text-muted text-capitalize mr-3"><i class="ti-thumb-up mr-2"></i><a th:text="${blog.likes}" href="#"></a></span>
                                <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i><span th:text="${blog.stringDate()}"></span></span>
                            </div>

                            <h3 class="mt-3 mb-3"><a th:href="@{single(id = ${blog.id})}" th:text="${blog.title}"></a></h3>
                            <p class="mb-4" th:text = "${blog.content}"></p>

                            <a th:href="@{single(id = ${blog.id})}" class="btn btn-small btn-main btn-round-full">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>