<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">

</head>
<body>
<header>
    <nav th:replace="index :: nav">
    </nav>
</header>
<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <div class="single-blog-item">
                            <img th:src="'images/blog/'+${blog.imageUrl}" alt="" class="img-fluid rounded">

                            <div class="blog-item-content bg-white p-5">
                                <div class="blog-item-meta bg-gray py-1 px-2">
                                    <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i><a href="#">Edit</a></span>
                                    <span class="text-muted text-capitalize mr-3"><i class="ti-thumb-up mr-2"></i><a th:text="${blog.likes}" href="#"></a></span>
                                    <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i><span th:text="${blog.stringDate()}"></span></span>
                                </div>

                                <h2 class="mt-3 mb-3"><a th:href="@{#}" th:text="${blog.title}"></a></h2>
                                <p class="mb-4" th:text = "${blog.content}"></p>
                                <div class="tag-option mt-5 clearfix">
                                    <ul class="float-left list-inline">
                                        <li>Tags:</li>
                                        <li class="list-inline-item"><a href="#" rel="tag">Advancher</a></li>
                                        <li class="list-inline-item"><a href="#" rel="tag">Landscape</a></li>
                                        <li class="list-inline-item"><a href="#" rel="tag">Travel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4" >
                <div class="sidebar-widget latest-post card border-0 p-4 mb-3">
                    <h5>Latest Posts</h5>

                    <div class="media border-bottom py-3" th:each="blogs : ${blogs}">
                        <a href="#"><img class="mr-4 list_blog_img" th:src="'images/blog/'+${blogs.imageUrl}" alt=""></a>
                        <div class="media-body">
                            <h6 class="my-2"><a href="#" th:text="${blogs.title}"></a></h6>
                            <span class="text-sm text-muted" th:text="${blogs.stringDate()}"></span>
                        </div>
                    </div>
                </div>

                <div class="sidebar-widget bg-white rounded tags p-4 mb-3">
                    <h5 class="mb-4">Tags</h5>

                    <a href="#">Web</a>
                    <a href="#">agency</a>
                    <a href="#">company</a>
                    <a href="#">creative</a>
                    <a href="#">html</a>
                    <a href="#">Marketing</a>
                    <a href="#">Social Media</a>
                    <a href="#">Branding</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>