<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Shop</title>
    <link th:href="@{/Bootstrap.css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="mx-5">
    <h3 class="mb-3"> List Product</h3>
<!--    <div th:if="${msg}" class="mb-3">-->
<!--        <span th:text="${msg}"></span>-->
<!--    </div>-->
    <p class="mb-3">
        <a th:href="@{/your-cart}" class="fw-bold text-dark text-decoration-none">Your Cart</a>
    </p>

    <div class="mb-3">
        <table class="table">
            <thead class="bg-secondary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}">
                <th scope="row" th:text="${p.getId()}"></th>
                <td th:text="${p.getName()}"></td>

                <td>
                    <img th:src="@{'/Bootstrap.css/images/' +${p.getImage()}}" style="width: 100px; height: 100px" alt="laptop_img">
                </td>
                <td th:text="${p.getPrice()}"></td>

                <td>
                    <a th:href="@{/shop/{id}/add(id=${p.getId()},action='list')}" class="text-dark text-decoration-none">Add To Cart</a>
                </td>

                <td>
                    <a th:href="@{/shop/{id}/view(id=${p.getId()})}" class="text-dark text-decoration-none">Click here to see details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a th:href="@{/shop(page=${products.number - 1})}" th:if="${products.hasPrevious()}">
            <span aria-hidden="true">&laquo;</span>
        </a>

        <span th:text="${products.number + 1}"></span> / <span th:text="${products.totalPages}"></span>

        <a th:href="@{/shop(page=${products.number + 1})}" th:if="${products.hasNext()}">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </div>

</div>


<script th:src="@{/Bootstrap.css/bootstrap.bundle.min.js}"></script>
</body>
</html>